# Set access to private by default
access=restricted

# Use the npm registry
registry=https://registry.npmjs.org/

# Token-based authentication for npm (scoped to the registry URL)
//registry.npmjs.org/:_authToken=${NPM_TOKEN}